<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ssafy.ssafyworld.mapper.friendMapper">
	<!-- 친구 출력-->
	<select id="selectFriends" resultType="friendDTO">
		SELECT * FROM friend;
	</select>
	
	<!-- 친구 출력-->
	<select id="selectFriend" parameterType="int" resultType="String">
		SELECT friend FROM friend where uidx=#{uidx};
	</select>
	
	<!-- 친구 찾기 -->
	<select id="getFriend" parameterType="friendDTO" resultType="friendDTO">
		SELECT * FROM friend where uid=#{uid} and friend=#{friend};
	</select>
	
	<!-- 친구 추가 -->
	<insert id="addFriend" parameterType="friendDTO">
		INSERT INTO friend (uidx,friend) VALUES (#{uidx},#{friend});
	</insert>
	
	<!-- 친구 삭제 -->
	<delete id="deleteFriend" parameterType="friendDTO">
		DELETE FROM friend where uidx=#{uidx} and friend=#{friend};
	</delete>
</mapper>
