<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ssafy.ssafyworld.mapper.messageMapper">
	<!-- 메세지 출력-->
	<select id="selectMessages" resultType="MessageDTO">
		SELECT * FROM message;
	</select>
	
	<!-- 해당 방 메세지 출력 -->
	<select id="roomMessages" parameterType="int" resultType="MessageDTO">
		select * from message where ridx=#{ridx};	
	</select>
	
	<insert id="insertMessage" parameterType="MessageDTO">
		INSERT INTO message (ridx,text,time,uidx) VALUES (#{ridx},#{text},#{time},#{uidx});
	</insert>
</mapper>
