<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ssafy.ssafyworld.mapper.roomMapper">
	<!-- 방 선택-->
	<select id="selectRoom" parameterType="int" resultType="RoomDTO">
		SELECT * FROM room where rid=#{rid};
	</select>
	
	<select id="selectRoomName" parameterType="String" resultType="RoomDTO">
		SELECT * FROM room where rname=#{rname};
	</select>
	
	<insert id="createRoom" parameterType="String">
		INSERT INTO room (rname) VALUES (#{rname});
	</insert>
	
	<delete id="deleteRoom" parameterType="int">
		DELETE FROM room WHERE rid = #{rid};
	</delete>
</mapper>
