<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssafyworld.mapper.userMapper">
	<!-- 유저목록  -->
	<select id="selectUsers" resultType="UserDTO">
		SELECT *
		FROM user;
	</select>
	<!-- 회원가입 -->
	<insert id="register" parameterType="UserDTO">
		INSERT
		INTO user (uidx, uid, uname, password, img, staff)
		VALUES (#{uidx}, #{uid}, #{uname}, #{password},#{img},#{staff});
	</insert>
	

	<!-- 권한수정 -->
	<update id="adminUpdate" parameterType="UserDTO">
		UPDATE USER
		SET staff=#{staff}
		WHERE uidx = #{uidx};
	</update>
	
	<!-- 유저수정 -->
	<update id="update" parameterType="UserDTO">
		UPDATE USER
		SET password = #{password},uname = #{uname},staff=#{staff}
		WHERE uidx = #{uidx};
	</update>

	<!-- 로그인 -->
	<select id="login" parameterType="UserDTO" resultType="UserDTO">
		SELECT * FROM user Where uid=#{uid} and password=#{password};
	</select>

	<!-- getUser -->
	<select id="getUser" parameterType="int" resultType="UserDTO">
		SELECT * FROM user Where uidx=#{uidx};
	</select>
	<!-- 유저의 방정보 출력 -->
	
	<!-- getUserLogin -->
	<select id="getUserLogin" parameterType="String" resultType="UserDTO">
		SELECT * FROM user Where uid=#{uid};
	</select>
	<!-- 유저의 방정보 출력 -->
	
	<select id="selectUserRooms" parameterType="int" resultType="RoomDTO">
		SELECT R.ridx, R.rname
		FROM room R, room_has_user H
		WHERE H.uidx = #{uidx} AND R.ridx = H.ridx;
	</select>
	<select id="getUserInfo" parameterType="int" resultType="UserDTO">
		SELECT *
		FROM user
		WHERE uidx = #{uidx};
	</select>

	<!-- 유저 삭제 -->
	<delete id="deleteUser" parameterType="int">
		DELETE FROM user
		WHERE uidx = #{uidx}
	</delete>
	
	<select id="searchUserAll" parameterType="String" resultType="UserDTO">
		SELECT *
		FROM user
		WHERE uid like CONCAT('%',#{uid},'%');
	</select>
</mapper>
