<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssafyworld.mapper.userMapper">
	<!-- 유저목록  -->
	<select id="selectUsers" resultType="UserDTO">
		SELECT uid,uname,password
		FROM user;
	</select>
	<!-- 회원가입 -->
	<insert id="register" parameterType="UserDTO">
		INSERT
		INTO user (uid, uname, password,salt)
		VALUES (#{uid}, #{uname}, #{password},#{salt});
	</insert>

	<!-- 로그인 -->
	<select id="login" parameterType="UserDTO" resultType="UserDTO">
		SELECT * FROM user Where uid=#{uid} and password=#{password}; 
	</select>
	
	<!-- getUser -->
	<select id="getUser" parameterType="String" resultType="UserDTO">
		SELECT * FROM user Where uid=#{uid}; 
	</select>
	
	<!-- getSaltById -->
	<select id="getSaltById" parameterType="String" resultType="String">
		SELECT salt FROM user WHERE uid = #{uid};
	</select>
</mapper>
